<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for message in messages %}

  {% if message.user.message_user != login_user%}

  <div class="container" align="left" >
    <p> {{message.message_user}}</p>
  <img src="/w3images/bandmember.jpg" alt="Avatar">
  <p>{{message.message_text}}</p>
  <span class="time-right">{{message.message_createTime}}</span>
  </div>
  {% else %}

  <div class="container darker" align="right" >
    <p>{{user.username}}</p>
  <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right">
  <p>{{message.message_text}}</p>
  <span class="time-left">11:01</span>
  </div>
{% endif %}
{% endfor %}

<div align="right">
    <form method="post">
        {% csrf_token %}
        <textarea placeholder="Type message.." name="message" required></textarea>
        <input type="submit">
    </form>
</div>


</body>
</html>

